<div class="rutuja">
<table>
  <tr>
    <th>Name</th>
    <th>Favourite Subject</th>
    <th>Delete Row</th>
  </tr>
  <tr>
    <td>Maria Anders</td>
    <td>English</td>
    <td><button class="button-73" role="button">Delete</button></td>
  </tr>
  <tr>
    <td>Francisco Chang</td>
    <td>Mathematics</td>
    <td><button class="button-73" role="button">Delete</button></td>
  </tr>
  <tr>
    <td>Roland Mendel</td>
    <td>History</td>
    <td><button class="button-73" role="button">Delete</button></td>
  </tr>
  <tr>
    <td>Helen Bennett</td>
    <td>Mathematics</td>
    <td><button class="button-73" role="button">Delete</button></td>
  </tr>
  <tr>
    <td>Yoshi Tannamuri</td>
    <td>English</td>
    <td><button class="button-73" role="button">Delete</button></td>
  </tr>
  <tr>
    <td>Giovanni Rovelli</td>
    <td>English</td>
    <td><button class="button-73" role="button">Delete</button></td>
  </tr>
</table>
</div>